
<VirtualHost :80>
    ServerName domain.loc
    ServerAdmin user@domain.com
    DocumentRoot /PATH/TO/API/PUBLIC/DIRECTORY
    <Directory /PATH/TO/API/PUBLIC/DIRECTORY/>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
